paper_implementation/embeded_frames/
paper_implementation/extracted_frames/
paper_implementation/2020-A new chaotic complex map for robust video watermarking.pdf
paper_implementation/embeded_video.mp4
